<% unless namespace_name.blank? %>
- form_for [:<%= namespace_name%>, @<%= singular_name %>] do |f|
<% else %>
- form_for @<%= singular_name %> do |f|
<% end %>
  = f.error_messages
  <%- for attribute in attributes -%>
  %p
    = f.label :<%= attribute.name %>
    %br
    = f.<%= attribute.field_type %> :<%= attribute.name %>
  <%- end -%>
  %p
    = f.submit "Save"
    or
    = link_to "Cancel", <%= index_name %>_path
