!!!
%html
  %head
    %title Scaffy Scaffolding
    = stylesheet_link_tag 'scaffy'
    = javascript_include_tag :defaults
    = csrf_meta_tag
    
  %body
    .content
      = flash_div [:message, :warning]
      = yield